

<div class="footer-all clearfix">
    <div class="footer-left fl">
        <div class="foot-nav">
            <ul class="clearfix">
                <li><a href="http://www.hiechangzhou.com">杭州国际博览中心</a></li>
                <li><a href="/">杭博巾帼文明岗</a></li>
                
                <!-- <li><a href="/Service/index">服务指南</a></li> -->
                <!-- <li><a href="/Hr/index">人才招聘</a></li> -->
                <!-- <li><a href="/Expo/index">展览中心</a></li>
                <li><a href="/Meeting/index">会议中心</a></li>
                <li><a href="/G20/index">G20体验馆</a></li>
                <li class="foot-nl"><a href="/Hotel/index">北辰酒店</a></li> -->
            </ul>
        </div>
        <p class="foot-add">A ：杭州市萧山区钱江世纪城奔竞大道353号    T ：+86 (571) 8290 8888    E：sales@hiechangzhou.com</p>
        <p>Copyright 2016 杭州国际博览中心. All Rights Reserved 浙ICP备16030893号 <a href="http://www.igori.cn" target="_blank"><i class="gori-icon"></i></a></p>
    </div>
    <div class="footer-right fr clearfix">
        <div class="footer-sn fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/anzhuo.jpg" alt="">
            <p>APP（安卓）</p>
        </div>
        <div class="footer-sn fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/ios.jpg" alt="">
            <p>APP（IOS）</p>
        </div>
        <div class="footer-sn fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/sn.png" alt="">
            <p>关注微博</p>
        </div>
        <div class="footer-wc fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/wc.png" alt="">
            <p>关注微信</p>
        </div>
    

    </div>
</div>
<div class="footer-mobile">
    Copyright 2018 杭州国际博览中心. 浙ICP备16030893号
</div>
<script type="text/javascript" src="http://www.hiechangzhou.com/Public/home/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://www.hiechangzhou.com/Public/home/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="http://www.hiechangzhou.com/Public/home/plugins/jquery-fancybox/jquery.fancybox-1.3.4.js"></script>

<script>
    $(".nav-button").click(function(){
        $(".nav-mobile").show();
    });
    $(".nav-mobile-close").click(function(){
        $(".nav-mobile").hide();
    });
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274537638'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274537638%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>


</body>
</html>